<!-- Services Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">What aspects make FISH-quant useful for processing of your smFISH images?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/logos/python.png" class="img-responsive img-centered" alt="">
                    </span>
                    <h4 class="service-heading">Powered by Python</h4>
                    <p class="text-muted">Analysis is performed with Python..</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/logos/github.svg" class="img-responsive img-centered" alt="">
                    </span>
                    <h4 class="service-heading">Open access, open source</h4>
                    <p class="text-muted">Entire code hosted publically on GitHub..</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/logos/imjoy.png" class="img-responsive img-centered" alt="">
                    </span>
                    <h4 class="service-heading">Plugins with ImJoy</h4>
                    <p class="text-muted">ImJoy plugins for user-friendly data processing..</p>
                </div>
            </div>
        </div>
    </section>

